<h1>Update User</h1>
<% flash.each do |type, msg| %>  <div class="alert alert-info">    <%= msg %>  </div><% end %>
<div class="jumbotron">
<%= form_with url: "/users/#{@user.id}", method: :put  , model: @user do |user_form| %>
    <div>
    <%= user_form.label :query, "Username:" %>
    <%= user_form.text_field :username %>
    </div>
    <div>
    <%= user_form.label :query, "Email:" %>
    <%= user_form.email_field :email %>
    </div>
    <%= fields_for :user_detail, @user.user_detail do |user_detail_form| %>
      <div>
      <%= user_form.label :query, "First Name:" %>
      <%= user_detail_form.text_field :first_name %>
      </div>
      <div>
      <%= user_form.label :query, "Last Name:" %>
      <%= user_detail_form.text_field :last_name %>
      </div>
      <div>
      <%= user_form.label :query, "Primary Address:" %>
      <%= user_detail_form.text_field :primary_address %>
      </div>
      <div>
      <%= user_form.label :query, "Secondary Address:" %>
      <%= user_detail_form.text_field :secondary_address %>
      </div>
      <%= user_form.label :query, "DOB:" %>
      <%= user_detail_form.date_field :dob %>
    <% end %>
    <div>
      <%= user_form.submit "Update User" , :class => 'btn btn-success'%>
    <div>
  <% end %>
  </div>