<div class="container jumbotron">
<h2 >Users<%= link_to "New User", new_user_path %></h2>

<%= form_with url: "/uploads", multipart: true do |form| %>
  <%= form.file_field :picture %>
  <%= form.submit "Create multiple users via file upload " %>
<% end %>

<h2>Our Exsisting Users : </h2>


<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Email</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>DOB</th>
      <th>Primary Address</th>
      <th>Secondary Address</th>
    </tr>
  </thead>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %> </td>
      <td><%= user.user_detail.first_name %> </td>
      <td><%= user.user_detail.last_name %> </td>
      <td><%= user.user_detail.dob %> </td>
      <td><%= user.user_detail.primary_address %> </td>
      <td><%= user.user_detail.secondary_address %> </td>
      <td><%= button_to "Update User", { action: "edit", id: user.id ,  }, { method: :get , class: 'btn btn-primary'} %></td>
      <td><%= button_to "Delete User", { action: "destroy", id: user.id }, method: :delete,class: 'btn btn-danger' ,
       data: { confirm: "Are you sure , you want to delete the user?" } %></td>
      
    </tr>
  <% end %>
</table>

<%= will_paginate @user %>
</div>
