<div class="jumbotron">
<h1>Username : <%=  @user.username %></h1>
<p>Email : <%= @user.email %></p>
<p>First Name : <%= @user.user_detail.first_name %> </p>
<p>Last Name : <%= @user.user_detail.last_name %> </p>
<p>DOB :  <%= @user.user_detail.dob %> </p>
<p>Primary Address : <%= @user.user_detail.primary_address %> </p>
<p>Secondary Address : <%= @user.user_detail.secondary_address %> </p>
</div>
